.myTitle input
  border 1px solid black
  border-radius: 14px
  padding 10px
.myTitle ul
  list-style: none

.myTitle button
  margin-left: 10px
  background: peru
  padding 10px
  border-radius: 14px
