.commentBox
  display flex
  flex-direction column
  align-items center
  height 100%

  background-color: peru
  background -webkit-linear-gradient(top, peru, pink)

.commentBox h1
  letter-spacing 30px
  text-transform: uppercase
  transform: rotate(3deg)
  background: pink
  padding 5px 20px 5px 40px
  border-radius: 14px
  box-shadow: 0 0 10px 5px pink
